{% extends "partials/conteneur.html" %}

{%block body%}

<h3>Théâtres</h3>
{%if donnees.prev_num %}
<a class="page_precedente" href="{{ url_for('theatres', page=donnees.prev_num) }}">
    Page précédente &lt;
</a>
{% endif %}
<ul class="Liste_théâtres">
   
    {%for theatre in donnees.items%}
    <li><a href="{{url_for('theatre_piece', theatre=theatre.id_theater)}}">{{theatre.id_theater}}</a></li>
    {%endfor%}
    
</ul>
{%if donnees.next_num %}
                <a class="page_suivante" href="{{ url_for('theatres', page=donnees.next_num) }}">
                    Page suivante &gt;
                </a>
                {% endif %}
{%endblock%}