{% extends "partials/conteneur.html" %}

{%block body%}
<!-- on retrouve ici la variable piece declaree dans la route liste_pieces/titre de generales.py -->
<h3 class="titre_presentation">{{piece.title}}</h3>
<p class="update"><a href="{{url_for('update_play', id_play=piece.id_play)}}">Modifier les informations</a></p>
<ul class="infos_piece">

    <li><b>Lien vers les Archives Nationales:</b> <a href="{{piece.url_AN}}">{{piece.url_AN}}</a></li>
    <li><b>Autrice:</b> <a href="{{url_for('presentation', name= piece.authoress)}}">{{piece.authoress}}</a></li>
    <li><b>Autre(s) auteur.rice(s):</b> {{piece.other_author}}</li>
    <li><b>Date de production:</b> {{piece.date}}</li>
    {%for genre in piece.type%}
    <li><b>Genre(s):</b> {{genre.id_type}}</li>
    {%endfor%}
    {%for theater in piece.theater%}
    <li><b>Lieu:</b> {{theater.id_theater}}</li>
    {%endfor%}

    <li><b>Forme de la piece:</b> {{piece.configuration[0].id_configuration}}
    </li>

    {%if piece.is_published == 0%}
    <li><b>Publiée: </b>Non</li>
    {%else%}
    <li><b>Publiée: </b> Oui</li>
    {%endif%}
    {%if piece.digitized is none:%}
    <li><b>Lien vers numérisation:</b> aucun</li>
    {%else%}
    <li><b>Lien vers numérisation:</b> <a href="{{piece.digitized}}">{{piece.digitized}}</a></li>
    {%endif%}
</ul>



{%endblock%}