<!DOCTYPE HTML>
<html lang="fr">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Autrices dans le théâtre</title>
      <meta name="description" content="Pièces de théâtre écrites par des femmes, et représentées à Paris entre 1809 et 1906">
      <meta name="author" content="Camille Ferrari et Marine Tiger">
      <link rel="icon" type="image" href="/statics/favicon.png">
      {% include "partials/css.html" %}
   </head>
   <body>
      <header>
         <img src="https://img.freepik.com/free-vector/music-people-instruments_24908-58065.jpg?w=740&t=st=1680531966~exp=1680532566~hmac=73f1f43d00589fd3e9cc9095ae2f3fa13cce4b9d93ba1d27916ad34051c4af08" alt="Logo théâtre" class="img">
         <div class="navbar">
         <nav>
            <a href="{{url_for('home')}}"> Page d'accueil </a>
            <a href="{{url_for('autrices')}}">Autrices</a>
            <a href="{{url_for('pieces')}}"> Pièces</a>
            <a href="{{url_for('theatres')}}">Théâtres</a>
            <a href="{{url_for('graphiques')}}">Graphiques</a>
              <!-- ##### CONNEXION/DECONNEXION DES UTILISATEURS ##### -->
            {% if current_user.is_authenticated %}
            <a class="user" href="{{ url_for('deconnexion') }}">Se déconnecter</a>
            {% else %}
            <a class="user" href="{{ url_for('connexion') }}">Se connecter</a>
            {% endif %}
            
         </nav>
      </div>
      </header>

      <div class="parallax">
         <div class="quote">
            
            <!-- <p>{Quote.quote | random}</p> -->
         </div>
      </div>

      <!-- ##### MESSAGE D'ERREUR #### -->
      <div class="container">
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         <div class="row">
           <div class="col">
             {% for category, message in messages %}
             <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
             {% endfor %}
           </div>
         </div>
         {% endif %}
         {% endwith %}
         <div class="row">
           <div class="col">
             {% block error %}{% endblock %}
           </div>
         </div>
       </div>
       {% block body%}{%endblock%}
     
      <footer>
         <p>Application réalisée dans le cadre du Master 2 "Technologies numériques appliquées à l'histoire" à l'École nationale des chartes</p>
      </footer>
   </body>
</html>
