<form action="{{url_for('insertion_autrice')}}" method="post" name="insertion_autrice">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="name">Nom de l'autrice</label>
        {{ form.name(class_="form-control") }}
        <small id="type" class="form-text text-muted">NOM, prénom</small>
    </div>

    <div class="form-group">
        <label for="lien_wikipedia">Lien wikipedia</label>
        {{ form.lien_wikipedia(class_="form-control", placeholder_="wikipedia") }}
        <small id="titre_piece" class="form-text text-muted">Entrer le lien wikipedia</small>
    </div>

    <div class="form-group">
        <label for="id_wikidata">Identifiant wikidata</label>
        {{ form.id_wikidata(class_="form-control", placeholder_="Code") }}
        <small id="id_wikidata" class="form-text text-muted">Entrer l'identifiant wikidata</small>
    </div>


    <div class="form-group">
        <label for="lien_bnf">Notice d'autorité de la BnF</label>
        {{ form.lien_bnf(class_="form-control") }}
        <small id="introduction" class="form-text text-muted">Entrer le lien vers la notice BnF</small>
    </div>

    <p><input type="submit" value="Insérer"></p>
</form>