<!-- id_play est variable dans la route donc il faut specifier a url_for la variable 
     pour qu'il puisse generer une url valide.
    /update/play/<id_play> -->
<form action="{{url_for('update_play', id_play=id_play)}}" method="post" name="id_play">
    {{ form.hidden_tag() }}


    <div class="form-group">
        <label for="new_titre_piece">Titre de la pièce</label>
        {{ form.new_title_play(class_="form-control", placeholder_="pièce") }}
        <small id="new_titre_piece" class="form-text text-muted">Entrer le nouveau titre de la pièce</small>
    </div>

    <div class="form-group">
        <label for="new_url_AN">Nouvelle cote</label>
        {{ form.new_url_AN(class_="form-control", placeholder_="Code") }}
        <small id="new_url_AN" class="form-text text-muted">Entrer nouvelle cote</small>
    </div>

    <div class="form-group">
        <label for="new_date">Cote des AN</label>
        {{ form.new_date(class_="form-control", placeholder_="Code") }}
        <small id="new_date" class="form-text text-muted">Entrer nouvelle date</small>
    </div>

    <div class="form-group">
        <label for="new_is_published">Publiée ou non</label>
        {{ form.new_is_published(class_="form-control", placeholder_="Code") }}
    </div>

    <div class="form-group">
        <label for="new_digitized">Numerisee ou non</label>
        {{ form.new_digitized(class_="form-control", placeholder_="Code") }}
    </div>

    <div class="form-group">
        <label for="new_other_author">Nouveaux autres auteurs</label>
        {{ form.new_other_author(class_="form-control", placeholder_="Code") }}
    </div>

    <p><input type="submit" value="Modifier"></p>
</form>